@import "mods/_vars"
@import "mods/_reset"
@import "mods/_elements"
@import "mods/_header"

section.content
  +guide()
  padding-top: 100px
  >h1
    font-size: 3rem
  >p
    margin-bottom: 96px
  .orientations
    >div
      display: flex
      align-items: center
      justify-content: space-between
      margin-bottom: 64px
      >div
        width: 50%